.home {
  text-align: center;
}
.home img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.selected {
  text-align: center;
  display: block;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.myimg {
  width: 400px;
  border-radius: 30px;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
    rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
    rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}
.cookies-img {
  border-radius: 30px;
  width: 200px;
  height: 200px;
  transition: 0.3s;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
    rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
    rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}
.cookies-img:hover {
  cursor: pointer;
  width: 220px;
  height: 220px;
}

.searchBar {
  padding: 0.5rem;
  margin: 1rem auto;
  display: block;
  width: 40%;
}

.listWrapper {
  align-items: center;
  justify-content: center;
  display: flex;
}
.animate-img {
  width: 100px;
  position: absolute;
  height: 100px;
  left: 40px;
  object-fit: contain;
  animation: ani 3s linear infinite;
}
.animate2-img {
  width: 100px;
  position: absolute;
  height: 100px;
  right: 40px;
  object-fit: contain;
  animation: ani 3s linear infinite;
}
.productWrapper {
  margin: 20px;
}

.productWrapper p {
  text-align: center;
}

.btn-theam {
  margin: 20px;
  background-color: darkcyan;
  border-radius: 5px;
  width: 300px;
  color: white;
}
@keyframes ani {
  0% {
    width: 10px;
  }
  100% {
    width: 100px;
  }
}
